<!DOCTYPE html>
<html>
<head>
    <title>Testing JavaScript</title>
</head>
<body>
    <h2>Testing JavaScript</h2>
    <button onclick="fetchData()">Fetch Data</button>
    <div id="output"></div>

    <script>
        function fetchData() {
            fetch('http://localhost:5000/up')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('output').innerText = received_hex;
                })
                .catch(error => {
                    console.error('Error fetching data:',error);
                    document.getElementById('output').innerText = "Error fetching data";
                });
        }
    </script>
</body>
</html>
