<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style/weld.css">
</head>

<body>
<h1><b>WELDING REMOTE</b></h1>
<div class="rec">
    <div class="com">
        <label for="com"><b>COM</b></label>
    </div> 
    <select class="moc" name="num" id="channel">
        <option value="0">COM0</option>
        <option value="1">COM1</option>
        <option value="2">COM2</option>
        <option value="3">COM3</option>
    </select>
    <button class="open"><b>Open</b></button>
    <button class="close"><b>Close</b></button> 
</div>
  
<div class="rec"> 
    <div class="square">
        <div class="sta">
            <label for="status"><b>STATUS</b></label>
            <input class="centered" type="text" id="status" name="status">
            <button class="read"><b>Read</b></button>
            <button onclick="displayData()" class="write"><b>Write</b></button>

        </div>
    </div>
    <div class="square"> 
        <div class="device">
            <label for="name"><b>DEVICE NAME</b></label>
            <input class="dev" type="text" id="name" name="name">
        </div>
        <div class="device">
            <label for="mod"><b>MODE NUMBER</b></label>
            <input class="dev" type="text" id="mod" name="mod">
        </div>
        <div class="device">
            <label for="ide"><b>DEVICE ID</b></label>
            <input class="dev" type="text" id="ide" name="ide">
        </div>
    </div>
</div>
<div class="rect">
    <div class="rectangle">
        <div class="rectangle1">
            <div class="channel">
                <label for="channel"><b>Channel Number</b></label>
                <select class="drop" name="channel" id="channel">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="channel">
                <label for="channel"><b>Source Address</b></label>
                <select class="drop" name="souc" id="souc">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="channel">
                <label for="sync"><b>Sync Address</b></label>
                <select class="drop" name="sync" id="sync">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="channel">
                <label for="dest"><b>Destination Address</b></label>
                <select class="drop" name="dest" id="dest">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="channel">
                <label for="sec"><b>Secure Transmission</b></label>
                <select class="drop" name="transm" id="transm">
                    <option value="enable">ENABLE</option>
                    <option value="disable">DISABLE</option>
                </select>
            </div>
        </div>
    </div>
    <div class="rectangle">
        <div class="rectangle1">
            <div class="first">
                <label for="fir"><b>First Key</b></label>
                <select class="key" name="fir" id="fir">
                    <option value="none">NONE</option>
                    <option value="start">START KEY</option>
                    <option value="up">UP KEY</option>
                    <option value="down">DOWN KEY</option>
                    <option value="stop">STOP KEY</option>
                </select>
            </div>
            <div class="first">
                <label for="sec"><b>Second Key</b></label>
                <select class="key" name="sec" id="sec">
                    <option value="none">NONE</option>
                    <option value="start">START KEY</option>
                    <option value="up">UP KEY</option>
                    <option value="down">DOWN KEY</option>
                    <option value="stop">STOP KEY</option>
                </select>
            </div>
            <div class="first">
                <label for="std"><b>Stand By Time Minute</b></label>
                <select class="key" name="std" id="std">
                    <option value="0.5">0.5</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="first">
                <label for="pow"><b>Transmitter Power</b></label>
                <select class="key" name="pow" id="pow">
                    <option value="-30">-30</option>
                    <option value="-20">-20</option>
                    <option value="-15">-15</option>
                    <option value="10">10</option>
                    <option value="0">0</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="first">
                <label for="batt"><b>Low battery V</b></label>
                <select class="key" name="batt" id="batt">
                    <option value="2">2</option>
                    <option value="2.2">2.2</option>
                    <option value="2.4">2.4</option>
                    <option value="2.6">2.6</option>
                    <option value="2.8">2.8</option>
                    <option value="3">3</option>
                    <option value="3.2">3.2</option>
                </select>
            </div>
        </div>
    </div>
</div>  

<script type="text/javascript" src="../style/welding.js"></script>

</body>
</html>
