<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../style/weld.css">
</head>

<body>
<h1><b>WELDING REMOTE</b></h1>
<div class="rec">
    <div class="com">
        <label for="com"><b>COM</b></label>
    </div> 
    <select class="moc" name="num" id="channel">
        <option value="0">COM0</option>
        <option value="1">COM1</option>
        <option value="2">COM2</option>
        <option value="3">COM3</option>
    </select>
    <button class="open"><b>Open</b></button>
    <button class="close"><b>Close</b></button> 
</div>
  
<div class="rec"> 
    <div class="square">
        <div class="sta">
            <label for="status"><b>STATUS</b></label>
            <input class="centered" type="text" id="status" name="status">
            <button class="read"><b>Read</b></button>
            <button onclick="displayData()" class="write"><b>Write</b></button>

        </div>
    </div>
    <div class="square"> 
        <div class="device">
            <label for="name"><b>DEVICE NAME</b></label>
            <input class="dev" type="text" id="name" name="name">
        </div>
        <div class="device">
            <label for="mod"><b>MODE NUMBER</b></label>
            <input class="dev" type="text" id="mod" name="mod">
        </div>
        <div class="device">
            <label for="ide"><b>DEVICE ID</b></label>
            <input class="dev" type="text" id="ide" name="ide">
        </div>
    </div>
</div>
<div class="rect">
    <div class="rectangle">
        <div class="rectangle1">
            <div class="channel">
                <label for="channel"><b>Channel Number</b></label>
                <select class="drop" name="channel" id="chnumber">

                </select>
            </div>
            <div class="channel">
                <label for="channel"><b>Source Address</b></label>
                <select class="drop" name="souc1" id="souc">
                
                </select>
            </div>
            <div class="channel">
                <label for="sync"><b>Sync Address</b></label>
                <select class="drop" name="sync" id="sync">
                    
                </select>
            </div>
            <div class="channel">
                <label for="dest"><b>Destination Address</b></label>
                <select class="drop" name="dest" id="dest">
                    
                </select>
            </div>
            <div class="channel">
                <label for="sec"><b>Secure Transmission</b></label>
                <select class="drop" name="transm" id="transm">
                    <option value="enable">ENABLE</option>
                    <option value="disable">DISABLE</option>
                </select>
            </div>
        </div>
    </div>
    <div class="rectangle">
        <div class="rectangle1">
            <div class="first">
                <label for="fir"><b>First Key</b></label>
                <select class="key" name="fir" id="fir">
                    <option value="none">NONE</option>
                    <option value="start">START KEY</option>
                    <option value="up">UP KEY</option>
                    <option value="down">DOWN KEY</option>
                    <option value="stop">STOP KEY</option>
                </select>
            </div>
            <div class="first">
                <label for="sec"><b>Second Key</b></label>
                <select class="key" name="sec" id="sec">
                    <option value="none">NONE</option>
                    <option value="start">START KEY</option>
                    <option value="up">UP KEY</option>
                    <option value="down">DOWN KEY</option>
                    <option value="stop">STOP KEY</option>
                </select>
            </div>
            <div class="first">
                <label for="std"><b>Stand By Time Minute</b></label>
                <select class="key" name="std1" id="std">
                    <option value="0.5">0.5</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="3.5">3.5</option>
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="first">
                <label for="pow"><b>Transmitter Power</b></label>
                <select class="key" name="pow1" id="pow">
                    <option value="-30">-30</option>
                    <option value="-20">-20</option>
                    <option value="-15">-15</option>
                    <option value="10">10</option>
                    <option value="0">0</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="first">
                <label for="batt"><b>Low battery V</b></label>
                <select class="key" name="batt" id="batt">
                    <option value="2">2</option>
                    <option value="2.2">2.2</option>
                    <option value="2.4">2.4</option>
                    <option value="2.6">2.6</option>
                    <option value="2.8">2.8</option>
                    <option value="3">3</option>
                    <option value="3.2">3.2</option>
                </select>
            </div>
        </div>
    </div>
</div> 
<script>
    function fetchData() {
        fetch('http://localhost:5000/up')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Received data:', data); 
                const channelData = data['Channel'];
                console.log('Channel data:', channelData);
                const syncData = data['Sync Address'];
                console.log('Sync Address data:', syncData);
                const destData = data['Destination Address'];
                console.log('Destination Address data:', destData);
                const sourceData = data['Source Address']; 
                console.log('Source Address data:', sourceData);
                const stdData = data['Standby Time'];
                console.log('Standby Time data:', stdData);
                const powData = data['Transmitter Power'];
                console.log('Transmitter Power data:', powData);

                const chnumberSelect = document.getElementById('chnumber');
                const syncSelect = document.getElementById('sync');
                const destSelect = document.getElementById('dest');
				const sourceSelect = document.getElementById('souc');
				const standbySelect = document.getElementById('std');
				const transSelect = document.getElementById('pow');
                chnumberSelect.innerHTML = "";
                syncSelect.innerHTML = "";
                destSelect.innerHTML = "";
				sourceSelect.innerHTML = "";
				standbySelect.innerHTML = "";
				transSelect.innerHTML = "";

                if (Array.isArray(channelData)) {
                    channelData.forEach(channel => {
                        const option = document.createElement('option');
                        option.value = channel;
                        option.textContent = channel;
                        chnumberSelect.appendChild(option);
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = channelData;
                    option.textContent = channelData;
                    chnumberSelect.appendChild(option);
                }
                
                if (Array.isArray(syncData)) {
                    syncData.forEach(syncAddress => { 
                        const option = document.createElement('option');
                        option.value = syncAddress;
                        option.textContent = syncAddress;
                        syncSelect.appendChild(option); 
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = syncData;
                    option.textContent = syncData;
                    syncSelect.appendChild(option);
                }

                if (Array.isArray(destData)) {
                    destData.forEach(destAddress => { 
                        const option = document.createElement('option');
                        option.value = destAddress;
                        option.textContent = destAddress;
                        destSelect.appendChild(option); 
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = destData;
                    option.textContent = destData;
                    destSelect.appendChild(option);
                }
				if (Array.isArray(sourceData)) {
                    sourceData.forEach(sourceAddress => { 
                        const option = document.createElement('option');
                        option.value = sourceAddress;
                        option.textContent = soucAddress;
                        sourceSelect.appendChild(option); 
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = sourceData;
                    option.textContent = sourceData;
                    sourceSelect.appendChild(option);
                }
				if (Array.isArray(stdData)) {
                    stdData.forEach(stdAddress => { 
                        const option = document.createElement('option');
                        option.value = stdAddress;
                        option.textContent = stdAddress;
                        standbySelect.appendChild(option); 
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = stdData;
                    option.textContent = stdData;
                    standbySelect.appendChild(option);
                }
				if (Array.isArray(powData)) {
                    powData.forEach(transmission => {
                        const option = document.createElement('option');
                        option.value = transmission;
                        option.textContent = transmission;
                        transSelect.appendChild(option);
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = powData;
                    option.textContent = powData;
                    transSelect.appendChild(option);
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
                const chnumberSelect = document.getElementById('chnumber');
                const syncSelect = document.getElementById('sync');
                const destSelect = document.getElementById('dest');
				const sourceSelect = document.getElementById('souc');
				const standbySelect = document.getElementById('std');
				const transSelect = document.getElementById('pow');
                chnumberSelect.innerHTML = "<option>Error fetching data: " + error.message + "</option>";
                syncSelect.innerHTML = "<option>Error fetching data: " + error.message + "</option>";
                destSelect.innerHTML = "<option>Error fetching data: " + error.message + "</option>";
				sourceSelect.innerHTML = "<option>Error fetching data: " + error.message + "</option>";
				standbySelect.innerHTML = "<option>Error fetching data: " + error.message + "</option>";
				transSelect.innerHTML = "<option>Error fetching data: " + error.message + "</option>";
            });
    }
    window.onload = fetchData;
</script>

</body>
</html>
